body{
    text-align: center;
    background-color: #262322;
    color: #F3EEE2;
    font-family: monospace;
}
h1{
    font-size: 5em;
    padding: 5%;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 4em;
    padding: 3%;
}
.indice{
    background-color: #DB504A;
    overflow: auto;
    text-align: center;
    width: 100%;
    font-size: 3em;
}
.indice a{
    float: left;
    text-decoration: none;
    color: #F3EEE2;
    display: block;
    text-align: center;
    width: 25%;
    padding: 2% 0;
    font-size: 22px;
    transition: 0.3s;
}
.indice a:hover{
    background-color: #262322;
}
#photo{ 
    /* float: right;   */
    border-radius: 50%;
    padding: 0 50px; 
    display: inline-block;
    width: 240px;
    margin: 5% 0 0 0;
}
#description{
    font-family: monospace;
    padding: 5%;
    display: inline-block;
    align-items: center;
    text-align: center;
    /*vertical-align: bottom;*/
    font-size: 20px;
    width: 50%;
}
#description a{
    color: #F3EEE2;
}
.social {

    display: block;
    align-items: center;
    padding: 50px 20px;
}
#aboutMe{
    background-color: #DB504A;
    margin: 0;
}
#infos{
    padding: 0% 10% 5% 10%;
    display: block;
    line-height: 35px;
    background-color: #DB504A;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 20px;
}


#skills{
    display: inline-block;
    margin-bottom: 45px;
    line-height: 40px;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 20px;
}


