body{
    text-align: center;
    background-color: #262322;
    color: #F3EEE2;
    font-family: monospace;
}
h1{
    font-size: 5em;
    padding: 5%;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 4em;
    padding: 3%;
}
.indice{
    background-color: #DB504A;
    overflow: auto;
    text-align: center;
    width: 100%;
    font-size: 3em;
}
.indice a{
    float: left;
    text-decoration: none;
    color: #F3EEE2;
    display: block;
    text-align: center;
    width: 33.33%;
    padding: 2% 0;
    font-size: 22px;
    transition: 0.3s;
}
.indice a:hover{
    background-color: #262322;
    
}
.circle{
    border: 0.5px dashed #DB504A;
    border-radius: 10px 50%;
    display: inline-block;
    margin-top: 10em;
}
.circle img{ 
    border-radius: 10px 50%;
    display: block;
    width: 240px;
}
#description{
    font-family: monospace;
    padding: 5%;
    display: inline-block;
    align-items: center;
    text-align: justify;
    /*vertical-align: bottom;*/
    font-size: 20px;
    width: 50%;
}
#description a{
    color: #F3EEE2;
    text-decoration: none;
}
#description a:hover{
    text-decoration: underline;
    color: #DB504A;
}
.social {
    text-align: center;
    display: block;
    align-items: center;
    padding: 50px 20px;
    font-size:60px
}
#aboutMe{
    background-color: #DB504A;
    margin: 0;
}
#infos{
    text-align: justify;
    padding: 0% 10% 5% 10%;
    display: inline-block;
    line-height: 35px;
    background-color: #DB504A;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 20px;
}


#skills{
    text-align: justify;
    display: inline-block;
    margin-bottom: 45px;
    line-height: 40px;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 20px;
}


